セッション一覧
<table border=1>
  <tr>
    <th>id</th>
    <th>unique_key</th>
    <th></th>
  </tr>
  <% @game_sessions.joins(:latest_matching).each do |game_session| %>
    <tr>
      <td><%= game_session.id %></td>
      <td><%= link_to game_session.unique_key, web_v1_matching_path(game_session.latest_matching.unique_key) %></td>
      <td><%= link_to "削除する", game_session_path(game_session), method: :delete, data: { confirm: '削除していいですか？' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to "セッションを作成する", game_sessions_path, method: :post %>
