<script>
  async function prepareSounds (){
      const status = document.getElementById('sound-setup');
      status.innerHTML = "<p>音声が流れるようになりました</p>";

      // ユーザが自分で再生アクションを取らないとwebsocket経由で音が流れないため
      var a = document.querySelector('#enemy1_respawn');
      await a.play();
      a.onended = function(audio) {
        document.querySelector('#enemy1_respawn').muted = false;
      }

      var a = document.querySelector('#enemy2_respawn');
      await a.play();
      a.onended = function(audio) {
        document.querySelector('#enemy2_respawn').muted = false;
      }

      var a = document.querySelector('#enemy3_respawn');
      await a.play();
      a.onended = function(audio) {
        document.querySelector('#enemy3_respawn').muted = false;
      }

      var a = document.querySelector('#enemy4_respawn');
      await a.play();
      a.onended = function(audio) {
        document.querySelector('#enemy4_respawn').muted = false;
      }
  }
  function playTestSound() {
    var audio = document.querySelector('#enemy1_respawn');
    audio.muted = false;
    audio.play();
  }
</script>
<div id="sound-setup">
  <input type="button" onclick="prepareSounds()" value="敵復活時に音声が流れるようにする"/>
</div>

<div>
  <input type="button" onclick="playTestSound()" value="音をならしみる"/>
</div>

<div id="matching-data" data-matching-id="<%= @matching.id %>"></div>

<audio id="enemy1_respawn" muted>
  <source src="/sounds/enemy1_respawn.mp3" type="audio/mp3">
</audio>
<audio id="enemy2_respawn" muted>
  <source src="/sounds/enemy2_respawn.mp3" type="audio/mp3">
</audio>
<audio id="enemy3_respawn" muted>
  <source src="/sounds/enemy3_respawn.mp3" type="audio/mp3">
</audio>
<audio id="enemy4_respawn" muted>
  <source src="/sounds/enemy4_respawn.mp3" type="audio/mp3">
</audio>

<div id="enemy-stats-area">
  <div class="enemy" data-enemy_no="enemy1"></div>
  <div class="enemy" data-enemy_no="enemy2"></div>
  <div class="enemy" data-enemy_no="enemy3"></div>
  <div class="enemy" data-enemy_no="enemy4"></div>
</div>
