<input type="button" onclick="document.querySelector('#enemy1_respawn').play()" value="敵1復活音声"/>
<input type="button" onclick="document.querySelector('#enemy2_respawn').play()" value="敵2復活音声"/>
<input type="button" onclick="document.querySelector('#enemy3_respawn').play()" value="敵3復活音声"/>
<input type="button" onclick="document.querySelector('#enemy4_respawn').play()" value="敵4復活音声"/>
<div id="matching-data" data-matching-id="<%= @matching.unique_key[0..3] %>"></div>

<audio id="enemy1_respawn">
  <source src="/sounds/enemy1_respawn.mp3" type="audio/mp3">
</audio>
<audio id="enemy2_respawn">
  <source src="/sounds/enemy2_respawn.mp3" type="audio/mp3">
</audio>
<audio id="enemy3_respawn">
  <source src="/sounds/enemy3_respawn.mp3" type="audio/mp3">
</audio>
<audio id="enemy4_respawn">
  <source src="/sounds/enemy4_respawn.mp3" type="audio/mp3">
</audio>

製造時間に応じたメーターっぽいのを出す
